/* -----------------PORTFOLIO--------------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list > .portfolio-list-item {
  flex-basis: calc(100% / var(--number-of-cards) - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
/* ----------FILTER BUTTON---------- */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--btn-filter-color);
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--btn-color);
  color: var(--btn-text-first-color);
}

.btn-current {
  background-color: var(--btn-color);
  color: var(--btn-text-first-color);
}
/* --------------PORTFOLIO TITLE----------------- */
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------PORTFOLIO ITEMS----------------- */

.card-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.portfolio-item {
  display: block;
  position: relative;
  transition: box-shadow 250ms var(--cubic);
}

.overflow-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.overlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--btn-text-first-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--content-text-color);
}
