:root {
  --bg-color: #ffffff;
  --title-text-color: #212121;
  --content-text-color: #757575;
  --text-hover-color: #2196f3;
  --btn-color: #2196f3;
  --btn-filter-color: #f5f4fa;
  --btn-color-hover: #188ce8;
  --btn-text-first-color: #ffffff;
  --btn-text-second-color: #212121;
  --logo2-color: #000000;
  --logo2-color-footer: #ffffff;
  --color-transparency: rgba(255, 255, 255, 0.6);
  --hero-bg-color: #c4c4c4;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --header-border-color: #ececec;
  --team-bg-color: #f5f4fa;
  --advantage-item-bg: #f5f4fa;
  --team-icon-color: #afb1b8;
  --team-icon-color-hover: #ffffff;
  --team-icon-bg-color-hover: #2196f3;
  --clients-item: #afb1b8;
  --clients-item-hover: #2196f3;
  --footer-bg-color: #2f303a;
  --join-icon-bg-color: rgba(255, 255, 255, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --icon-close-modal-first-color: #000000;
  --icon-close-modal-second-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--content-text-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--bg-color);
}

/* ----------Убирает подчеркивание с линков---------- */
.link {
  text-decoration: none;
}
/* -----------Убирает маркеры в списках------------ */
.list {
  list-style: none;
}

/*------------- Делает картинки блочными элементами------------ */
img {
  display: block;
}

/* ----Сбрасывает отступы у заголовков, абзацев и списков---- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
/* ------------Контейнер ----------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid black; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------LOGO-------------- */
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--text-hover-color);
}

.logo2 {
  color: var(--logo2-color);
}

.footer-logo2 {
  color: var(--logo2-color-footer);
}

/* ------------------NAVIGATION------------------- */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

/* .nav-list-item {
} */

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact-item:last-child {
  margin-left: 50px;
}

.nav-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link-mail:hover,
.nav-link-mail:focus,
.nav-link-tel:hover,
.nav-link-tel:focus {
  color: var(--text-hover-color);
}

.nav-link-mail,
.nav-link-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--content-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--text-hover-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: var(--text-hover-color);
  border-radius: 2px;
}

/* -------------------HERO------------------ */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--btn-color);
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-first-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--btn-color-hover);
}

/* ---------------ADVANTAGES------------- */
.advantage {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-item {
  width: 270px;
}

.advantage-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--advantage-item-bg);
  border-radius: 4px;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage-item-text {
  line-height: calc(24 / 14);
}

/* -------------OUR WORK------------- */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
}

.work-list {
  display: flex;
}

.work-list-item {
  position: relative;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--btn-text-first-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------------OUR TEAM----------- */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}

.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-card-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-color);
}
.team-item-text {
  text-align: center;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-card-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--team-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--team-icon-bg-color-hover);
  color: var(--bg-color);
}

.team-social-icon {
  fill: currentColor;
}

/* --------------CLIENTS-------------- */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color);
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
}

.clients-list-item {
  width: 170px;
  height: 92px;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-item);
  border-radius: 4px;
  color: var(--clients-item);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--clients-item-hover);
  color: var(--clients-item-hover);
}

.clients-icon {
  fill: currentColor;
}

/* ------------   FOOTER------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* ============== JOIN SOCIAL ============= */

.join {
  margin-left: 70px;
}

.join-social-list {
  display: flex;
  justify-content: center;
}

.join-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--join-icon-bg-color);
  color: var(--team-icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-link:hover,
.join-list-link:focus {
  background-color: var(--team-icon-bg-color-hover);
}

.join-social-icon {
  fill: var(--logo2-color-footer);
}

/* ============= SUBSCRIPTION ================= */
.subscription {
  margin-left: auto;
}

.subscription-form {
  display: flex;
}

.subscription-mail {
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-transparency);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription-mail::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-transparency);
}
.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background-color: var(--btn-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-first-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn-icon {
  margin-left: 10px;
}

.address {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 6px;
}

.footer-link {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--btn-text-first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--text-hover-color);
}

.transparency {
  color: var(--color-transparency);
}

.join-title,
.subscription-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--logo2-color-footer);
}

/* ------------BACKDROP AND MODAL----------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(-40px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0px);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-text-color);
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
  display: block;
}

.input {
  display: block;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--cubic);
}

.input:focus {
  border: 1px solid var(--icon-close-modal-second-color);
}

.input:focus + .input-icon {
  fill: var(--icon-close-modal-second-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border 250ms var(--cubic);
}

.form-comment:focus {
  border: 1px solid var(--icon-close-modal-second-color);
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: rgba(117, 117, 117, 0.5);
}

.confirm {
  margin-top: 20px;
  margin-bottom: 30px;
}

.confirm-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--icon-close-modal-second-color);
  border-color: var(--icon-close-modal-second-color);
  background-image: url(../images/icons/checkbox2.svg);
  background-size: contain;
  background-origin: border-box;
}

.confirm-label {
  line-height: calc(24 / 14);
}

.confirm-link {
  display: inline;
}

.confirm-btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--btn-color);
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-first-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.confirm-btn:hover,
.confirm-btn:focus {
  background-color: var(--btn-color-hover);
}

.icon-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--icon-close-modal-first-color);
  transition: color 250ms var(--cubic);
}

.icon-close-modal:hover,
.icon-close-modal:hover {
  color: var(--icon-close-modal-second-color);
}

.close-modal-icon {
  fill: currentColor;
}

/* -----------------PORTFOLIO--------------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list > .portfolio-list-item {
  flex-basis: calc(100% / var(--number-of-cards) - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
/* ----------FILTER BUTTON---------- */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--btn-filter-color);
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--btn-color);
  color: var(--btn-text-first-color);
}

.btn-current {
  background-color: var(--btn-color);
  color: var(--btn-text-first-color);
}
/* --------------PORTFOLIO TITLE----------------- */
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------PORTFOLIO ITEMS----------------- */

.card-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.portfolio-item {
  display: block;
  position: relative;
  transition: box-shadow 250ms var(--cubic);
}

.overflow-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.overlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--btn-text-first-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--content-text-color);
}
