.advantage {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-item {
  width: 270px;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--advantage-item-bg);
  border-radius: 4px;
}

.advantage-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage-item-text {
  line-height: calc(24 / 14);
}
